<section >
        <div class="new_index_page_listing_posts_bg" >
            <div class="new_login_page_outter_bg">
                <div class="container">
                    <div class="new_login_page_inner_bg">
                        <div class="edit_form_page_heading_bg">
                            <h1 class="edit_form_page_heading">change password </h1>
                        </div>  
                        <div id="password-error" style="display: none;" class="text danger" ></div>
                        <div class="new_login_form_bg">
                            <form id="change-password-form" method="POST" class="new_login_form_page">
                            	<input type="hidden" value="{{ user_id }}" id="change-password-user_id">
                                <div class="new_login_form_form_group_bg">
                                    <div class="new_login_form_label_bg">
                                        <label for="acc-old-password" class="new_login_form_label" >current password</label>
                                    </div>
                                    <div class="new_login_form_input_type_bg">
                                        <input type="password" id="acc-old-password" class="input_type_text"   placeholder="Current Password">
                                    </div>
                                </div>
                                <div class="new_login_form_form_group_bg">
                                    <div class="new_login_form_label_bg">
                                        <label for="acc-new-password" class="new_login_form_label" >new password</label>
                                    </div>
                                    <div class="new_login_form_input_type_bg">
                                        <input type="password" id="acc-new-password"   class="input_type_text" placeholder="New Password" >
                                    </div>
                                </div>
                                <div class="new_login_form_form_group_bg">
                                    <div class="new_login_form_label_bg">
                                        <label for="acc-renew-password" class="new_login_form_label" >Confirm password</label>
                                    </div>
                                    <div class="new_login_form_input_type_bg">
                                        <input type="password" id="acc-renew-password" name="password2"  class="input_type_text" placeholder="Confirm Password" >
                                    </div>
                                </div>                                
                                <div class="new_login_form_submit_button_bg">
                                    <button type="button" id="acc-change-password-form" class="new_button new_button_blue">change</button>
                                    <button type="button" onclick="window.history.go(-1); return false;" class="new_button new_button_red" >cancel</button>
                                </div>
                            </form>
                            <!-- <div class="new_login_form_account_links_bg">
                                <div class="new_login_form_account_right_link_bg">
                                    <a href="login-form-new.html" class="new_login_form_account_right_link">go to login</a>
                                </div>
                            </div> -->
                        </div>        
                    </div>
                </div>
            </div>            
        </div>
    </section>    
    <!--change password  Pop Up-->
    <button type="button" class="registration_pop_up_button">click</button>
    <section>
        <div class="registration_pop_up" id="pop_up_registration9">
            <div class="registration_pop_up_content_bg">
                <div class="registration_pop_up_body_bg">
                    <div class="registration_pop_up_body_icon_bg">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="registration_pop_up_body_invalid_user_bg">
                        password has been changed
                    </div>
                    <div class="pop_up_close_button_bg">
                        <a href="{{ GLOBAL_DIR_PATH }}index.php/logout" class="pop_up_close_button">Close</a>
                    </div>    
                </div>
            </div>
        </div>
    </section>  
    <!--END change password Pop Up--> 
    
<script type="text/javascript">

    $("#acc-change-password-form").click(function(event) {
      $change_pswd_user_id = $('#change-password-user_id').prop('value').trim();
      $password = $('#acc-old-password').prop('value').trim();
      $new_password = $('#acc-new-password').prop('value').trim();
      $renew_password = $('#acc-renew-password').prop('value').trim();
      var errors = '';
          if($('#acc-old-password').prop('value').trim() == '') {
              $('#acc-old-password').addClass('error-placeholder').attr('placeholder', 'Please enter your first name');
                  errors += " Please enter your old password. <br/>";
          }
          if($('#acc-new-password').prop('value').trim() == '') {
              $('#acc-new-password').addClass('error-placeholder').attr('placeholder', 'Please enter your new password');
                  errors += " Please enter your new password. <br/>";
          }
          if($('#acc-new-password').prop('value') != '') {
              var filter = /^[ A-Za-z0-9_@.#&+-]{6,}$/;
              if (!filter.test($('#acc-new-password').prop('value'))) {
                  $('#acc-new-password').addClass('error-placeholder').val('').attr('placeholder', 'passwor should be above 6 characters');
                  errors += "passwor should be above 6 characters <br/>";
              }
          }
  
          if($('#acc-renew-password').prop('value').trim() == '') {
              $('#acc-renew-password').addClass('error-placeholder').attr('placeholder', 'Please enter your renew password');
                  errors += " Please enter your renew password. <br/>";
          }
  
          if($new_password !== $renew_password){
            $('#acc-new-password').addClass('error-placeholder').attr('placeholder', 'Please enter your new password');
            $('#acc-new-password').val("");
            $('#acc-renew-password').addClass('error-placeholder').attr('placeholder', 'Please enter your renew password');
            $('#acc-renew-password').val("");
            $('#password-error').html("New password and confirm password does not match ");
            $("#password-error").addClass('has-error');
              setTimeout(function() {
                        $("#password-error").html("");
                      }, 2000);
              errors += "New password and Renew password does not match ";
            }
          
          if (errors != '') {
              return false;
          }
  
          $.ajax({
              url: "{{ GLOBAL_DIR_PATH }}change-password.php/update-password",
              type: "post",
              data: {"change_pswd_user_id": $change_pswd_user_id,"old_password":$password,"new_password":$new_password},
              success: function (response) {
                  response = JSON.parse(response);
  
                  if(response.error_pswd){
                        $("#password-error").show();
                        $("#password-error").html(response.error_pswd);
                    setTimeout(function() {
                      $("#password-error").hide();
                      }, 2000);                 
                    
                  }else{
                 
                  if(response.existPassword == 1){
                    alert('your password success full changes');
  
                          $('#change-password-form')[0].reset();
                          modals('pop_up_registration9');
                          setTimeout(function() { window.location.href = '{{ GLOBAL_DIR_PATH }}index.php/logout';  }, 4000);
                     
                  }else{
                      $('#acc-old-password').val("");
                      $('#acc-new-password').val("");
                      $('#acc-renew-password').val("");
                      $("#password-error").show();
                      $("#password-error").html("Old password does not match please try again ");
                        setTimeout(function() {
                              $("#password-error").hide();
                              }, 2000);
                        }
                      }
               },
              error: function () {
                  $("#password-error").addClass('has-error');
                  $("#password-error span").html('Invalid Credentials');
              }
          });
    });
  </script> 
    <script src="{{GLOBAL_DIR_PATH}}view_library/js/new-js.js"></script> 
    <script src="{{GLOBAL_DIR_PATH}}view_library/js/modal-js.js"></script> 
		  