<section >
        <div class="new_index_page_listing_posts_bg" >
            <div class="edit_post_page_outter_bg">
                <div class="container">
                   <div class="edit_post_page_inner_bg">
                        <div class="edit_form_page_heading_bg">
                            <p>desi stores, other stores, indian, thai, american, italian, mexican, doctors clinic, hospitals, diagnostic labs, physiotheraphy and urgent cares</p>
                            <h1 class="edit_form_page_heading">Edit Form</h1>
                        </div>    
                        <div class="edit_post_page_form_bg">
                            <form action="{{GLOBAL_DIR_PATH}}edit-post.php/edit-post-fifth-group" method="POST" class="edit_post_page_form" enctype="multipart/form-data" >
                                <input type="hidden" value="{{post_results.0.id}}" name="edit_post_id">
                                <input type="hidden" value="{{post_results.0.create_by}}" name="user_id">
                                <div class="edist_post_page_form_label_input_bg">
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-category">category</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg new_read_only_class_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-category" value="{{post_results.0.category_name}}" readonly>
                                        <div class="question_mark_non_editable_bg">
                                            <p class="question_mark_non_editable">You Dont Have permissions To Edit This Field</p>
                                        </div>
                                    </div>
                                </div>   
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-sub-category">Sub category</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg new_read_only_class_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-sub-category" value="{{post_results.0.subcategory_name}}" readonly>
                                        <div class="question_mark_non_editable_bg">
                                            <p class="question_mark_non_editable">You Dont Have permissions To Edit This Field</p>
                                        </div>
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg">
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-title">Title <sup>*</sup></label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-title" name="edit_post_name" value="{{post_results.0.post_name}}" placeholder="Title">
                                    </div>
                                </div>   
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-image">Images</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="file" class="edit_post_page_form_input_type" id="edit-image" name="edit_post_images[]" multiple >                                        
                                    </div>
                                </div>
                                <div class="edit_image_preview_bg" id="edit_image_preview_bg">
                                    <div class="edit_image_preview_left_bg">
                                       
                                    </div>
                                    <div class="edit_image_preview_right_bg" id="edit-image-preview">
                                         {% for images in post_results.0.post_image %}
                                        <div class="upload_image_wrapper">
                                            <img src="{{GLOBAL_DIR_PATH}}uploads/post_image/{{images}}" class="new_image">
                                            <button class="delete_upload_image" type="button">&times;</button>
                                        </div>    
                                            {% endfor %}
                                        
                                    </div>
                                </div>     
                                <div class="edist_post_page_form_label_input_bg">
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-website-link">website Link</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-website-link" name="edit_post_url" value="{{post_results.0.post_url}}" placeholder="www.example.com" >
                                    </div>
                                </div>   
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-email">Email</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type  combine_email_and_mobile" id="edit-email" name="edit_post_email" value="{{post_results.0.post_email}}" placeholder="example@gmail.com" >
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-mobile">mobile</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type phone-number combine_email_and_mobile" id="edit-mobile" value="{{post_results.0.mobile_num}}" maxlength="12" placeholder="555-555-1234" name="edit_post_mobile_num" >
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-location">location</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-location" name="edit_post_address" value="{{post_results.0.address}}" placeholder="Beside Gateway Arch" >
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-street">street</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-street"  name="edit_post_street" value="{{post_results.0.street}}"  placeholder="155 15th street" >
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-city-state">city and state</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg new_read_only_class_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-city-state" value="St Louis, MO" readonly>
                                        <div class="question_mark_non_editable_bg">
                                            <p class="question_mark_non_editable">You Dont Have permissions To Edit This Field</p>
                                        </div>
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-country">country</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg new_read_only_class_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-country" value="USA" readonly>
                                        <div class="question_mark_non_editable_bg">
                                            <p class="question_mark_non_editable">You Dont Have permissions To Edit This Field</p>
                                        </div>
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-zip">zip code</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <input type="text" class="edit_post_page_form_input_type" id="edit-zip" value="{{post_results.0.zip}}" name="edit_post_zip" >
                                    </div>
                                </div>    
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" >Open Days</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <label for="edit-monday" class="edit_post_page_form_checkbox_label_bg" >
                                            <input type="checkbox" class="edit_post_page_checkbox"  value="mon" name="open_close_monday"  id="edit-monday" {% if post_results.0.open_close_monday == 'Open' %} checked {% endif %}>
                                            Mon
                                        </label>
                                        <label for="edit-tuesday" class="edit_post_page_form_checkbox_label_bg">
                                            <input type="checkbox" class="edit_post_page_checkbox" value="tue" name="open_close_tuesday"  id="edit-tuesday" {% if post_results.0.open_close_tuesday == 'Open' %} checked {% endif %}>
                                            tue
                                        </label>
                                        <label for="edit-wednesday" class="edit_post_page_form_checkbox_label_bg" >
                                            <input type="checkbox" class="edit_post_page_checkbox" value="wed" name="open_close_wednesday"  id="edit-wednesday" {% if post_results.0.open_close_wednesday == 'Open' %} checked {% endif %} >
                                            wed
                                        </label>
                                        <label for="edit-thursday" class="edit_post_page_form_checkbox_label_bg" > 
                                            <input type="checkbox" class="edit_post_page_checkbox" value="thurs" name="open_close_thursday"  id="edit-thursday" {% if post_results.0.open_close_thursday == 'Open' %} checked {% endif %}>
                                            thurs
                                        </label>
                                        <label for="edit-friday" class="edit_post_page_form_checkbox_label_bg" >
                                            <input type="checkbox" class="edit_post_page_checkbox" value="fri" name="open_close_friday"  id="edit-friday" {% if post_results.0.open_close_friday == 'Open' %} checked {% endif %}>
                                            fri
                                        </label>
                                        <label for="edit-saturday" class="edit_post_page_form_checkbox_label_bg" >
                                            <input type="checkbox" class="edit_post_page_checkbox" value="sat" name="open_close_saturday"  id="edit-saturday" {% if post_results.0.open_close_saturday == 'Open' %} checked {% endif %}>
                                            sat
                                        </label>
                                        <label for="edit-sunday" class="edit_post_page_form_checkbox_label_bg" >
                                            <input type="checkbox" class="edit_post_page_checkbox" value="sun" name="open_close_sunday"  id="edit-sunday" {% if post_results.0.open_close_sunday == 'Open' %} checked {% endif %}>
                                            sun
                                        </label>
                                    </div>
                                </div>    
                                <div class="check_box_error_message_bg">
                                    <div class="check_box_error_message_left_bg">
                                       
                                    </div>
                                    <div class="check_box_error_message_right_bg" id="check_box_error_message_right_bg">
                                        
                                    </div>
                                </div>
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" >Open hours</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <div class="edit_post_page_form_open_hours_input_label_bg">
                                            <div  class="edit_post_page_form_open_hours_label_bg">
                                                <label for="edit-monday-time-from" class="edit_post_page_form_open_hours_label" >Monday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-monday-time-from" name="monday_usr_time_from" value="{{post_results.0.monday_usr_time_from}}"  class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-monday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" id="edit-monday-time-to" name="monday_usr_time_to"  value="{{post_results.0.monday_usr_time_to}}" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                            <div  class="edit_post_page_form_open_hours_label_bg">                                            
                                                <label for="edit-tuesday-time-from" class="edit_post_page_form_open_hours_label">tuesday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-tuesday-time-from" value="{{post_results.0.tuesday_usr_time_from}}" name="tuesday_usr_time_from"  class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-tuesday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" id="edit-tuesday-time-to" name="tuesday_usr_time_to" value="{{post_results.0.tuesday_usr_time_to}}" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                            <div class="edit_post_page_form_open_hours_label_bg">
                                                <label for="edit-wednesday-time-from" class="edit_post_page_form_open_hours_label">wednesday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-wednesday-time-from" name="wednesday_usr_time_from" value="{{post_results.0.wednesday_usr_time_from}}"  class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-wednesday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" value="{{post_results.0.wednesday_usr_time_to}}" id="edit-wednesday-time-to" name="wednesday_usr_time_to" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                            <div  class="edit_post_page_form_open_hours_label_bg">                                            
                                                <label for="edit-thursday-time-from" class="edit_post_page_form_open_hours_label">thursday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-thursday-time-from" name="thursday_usr_time_from" value="{{post_results.0.thursday_usr_time_from}}"   class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-thursday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" id="edit-thursday-time-to" value="{{post_results.0.thursday_usr_time_to}}" name="thursday_usr_time_to" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="edit_post_page_form_open_hours_input_label_bg">
                                            <div  class="edit_post_page_form_open_hours_label_bg">
                                                <label for="edit-friday-time-from" class="edit_post_page_form_open_hours_label">friday</label>
                                                <div class="edit_page_post_form_open_hours_right_side_bg"> 
                                                    <input type="time" id="edit-friday-time-from" name="friday_usr_time_from" value="{{post_results.0.friday_usr_time_from}}"   class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-friday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" id="edit-friday-time-to" value="{{post_results.0.friday_usr_time_to}}" name="friday_usr_time_to" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                            <div  class="edit_post_page_form_open_hours_label_bg">                                            
                                                <label for="edit-saturday-time-from" class="edit_post_page_form_open_hours_label">saturday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-saturday-time-from" value="{{post_results.0.saturday_usr_time_from}}" name="saturday_usr_time_from"  class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-saturday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" value="{{post_results.0.saturday_usr_time_to}}" id="edit-saturday-time-to" name="saturday_usr_time_to" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                            <div class="edit_post_page_form_open_hours_label_bg">                                            
                                                <label for="edit-sunday-time-from" class="edit_post_page_form_open_hours_label">sunday</label> 
                                                <div class="edit_page_post_form_open_hours_right_side_bg">
                                                    <input type="time" id="edit-sunday-time-from" name="sunday_usr_time_from" value="{{post_results.0.sunday_usr_time_from}}"  class="edit_post_page_form_open_hours_input_bg">
                                                    <label for="edit-sunday-time-to" class="edit_post_page_form_open_hours_label">to</label>
                                                    <input type="time" id="edit-sunday-time-to" name="sunday_usr_time_to" value="{{post_results.0.sunday_usr_time_to}}" class="edit_post_page_form_open_hours_input_bg">
                                                </div>    
                                            </div>
                                        </div>                                                    
                                    </div>
                                </div> 
                                <div class="check_box_error_message_bg">
                                    <div class="check_box_error_message_left_bg">
                                        
                                    </div>
                                    <div class="check_box_error_message_right_bg" id="time_error_box_msg_bg">
                                        
                                    </div>
                                </div> 
                                <div class="edist_post_page_form_label_input_bg"> 
                                    <div class="edit_post_page_form_label_bg">
                                        <label class="edit_post_page_form_label" for="edit-description">description</label>
                                    </div>
                                    <div class="edit_post_page_form_input_type_bg">
                                        <textarea class="edit_post_page_form_text_area" maxlength="500" id="edit-description" name="edit_post_description" placeholder="Describe About Place"  >{{post_results.0.description}}</textarea>
                                    </div>
                                </div>  
                                <div class="check_box_error_message_bg">
                                    <div class="check_box_error_message_left_bg">
                                        
                                    </div>
                                    <div class="text_area_errorMessage_right_bg" >
                                        <span>Remaining characters : </span>
                                        <span id="text_area_Counter_bg"></span>
                                    </div>
                                </div> 
                                <div class="edit_post_post_form_submit_buttons_bg">
                                    <button type="submit" id="edit-post-save-button" class="new_button new_button_blue" onclick="return editPostValidation()">Save</button>
                                    <button type="button" class="new_button new_button_red" onclick="GoBackWithRefresh();return false;">cancel</button>
                                </div>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ GLOBAL_DIR_PATH }}view_library/js/edit-page-9-10-11-12-13-14-15-16-17-18-19-20-js.js" type="text/javascript"></script>  
    <script type="text/javascript" src="{{ GLOBAL_DIR_PATH }}view_library/js/new-js.js"> </script>
    <script src="{{ GLOBAL_DIR_PATH }}view_library/js/description.js" type="text/javascript"></script>
    <script src="{{ GLOBAL_DIR_PATH }}view_library/js/check-box.js" type="text/javascript"></script> 
    <script src="{{ GLOBAL_DIR_PATH }}view_library/js/upload-image.js" type="text/javascript"></script> 
    <script src="{{ GLOBAL_DIR_PATH }}view_library/js/phone-number-js.js" type="text/javascript"></script>