
  <!-- nav-header --> 
 <div class="manast-inner-page page-1">
  <div class="container">
      <div class="col-sm-3">
         {% include 'includes/left_side_banner.html.twig' %} 
      </div>
      <div class="col-sm-6 npm">
        <div class="inner-content-section-middile">
          <div class="inner-content-section-middile-top"> 
       {% for centerside in banner_result.center %}
              <a href="{{ centerside.banner_url }}"><div class="subscribe"> <img src="/view_library/images/{{ centerside.banner_images }}" alt="{{ centerside.banner_name }}" ><h4>{{ centerside.banner_name }} </h4></div></a> 
            {% endfor %}
      </div>
      <div class="inner-content-section-middile-bottom">
      
      <div class="middile-bottom-header">
        <h4>Reset Password</h4>
        <div class="bredcum pull-left">
          <ol>
            <li><a href="http://localhost/manast_curl/">Home</a></li>
            <li><a href="">Password</a></li>
          </ol>
        </div>
      </div>
            <div class="inner-1-form">
                <form class="form-horizontal" action="" method="POST" id="edit-account-form"  enctype="multipart/form-data">
                <input type="hidden" id="change-password-user_email" name="email_id" value="{{email}}">
                <span id="password-error" class="has-error"></span><span id="password-success" class="has-error"></span>
                  <div class="form-group col-sm-12">
                    <label class="col-sm-4">New Password:</label>
                    <div class="input-group col-sm-8"> <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="" id="acc-new-password" value="" placeholder="Please enter the new password ">
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <label class="col-sm-4">Re-new Password:</label>
                    <div class="input-group col-sm-8"> <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" id="acc-renew-password" value="" placeholder="Please enter the your re-new password">
                    </div>
                  </div>
                  <div class="form-group col-sm-12 text-center">
                      <button type="button" class="btn btn-default" id="acc-change-password-form">Submit</button>
                      <button type="submit" class="btn btn-default">Close</button>
                   </div>
                </form>
             </div>
      
      </div>
        </div>
      </div>      
      <div class="col-sm-3">
        {% include 'includes/right_side_banner.html.twig' %}   
      </div>
      
    </div>
 </div>
</div>
<script src="{{GLOBAL_DIR_PATH}}view_library/js/new-js.js"></script>
<script type="text/javascript">

  $("#acc-change-password-form").click(function(event) {
    $change_pswd_user_email = $('#change-password-user_email').prop('value').trim();
    $new_password = $('#acc-new-password').prop('value').trim();
    $renew_password = $('#acc-renew-password').prop('value').trim();
    var errors = '';
        
        if($('#acc-new-password').prop('value').trim() == '') {
            $('#acc-new-password').addClass('error-placeholder').attr('placeholder', 'Please enter your new password');
                errors += " Please enter your new password. <br/>";
        }
        if($('#acc-renew-password').prop('value').trim() == '') {
            $('#acc-renew-password').addClass('error-placeholder').attr('placeholder', 'Please enter your renew password');
                errors += " Please enter your renew password. <br/>";
        }

        if($new_password !== $renew_password){
          $('#acc-new-password').addClass('error-placeholder').attr('placeholder', 'Please enter your new password');
          $('#acc-new-password').val("");
          $('#acc-renew-password').addClass('error-placeholder').attr('placeholder', 'Please enter your renew password');
          $('#acc-renew-password').val("");
          $('#password-error').html("New password and Renew password does not match ");
          $("#password-error").addClass('has-error');
            setTimeout(function() {
                      $("#password-error").html("");
                    }, 5000);
            errors += "New password and Renew password does not match ";
          }
        
        if (errors != '') {
            return false;
        }
        $.ajax({
            url: "{{ GLOBAL_DIR_PATH }}forgot_password.php/updateResetPassword",
            type: "post",
            data: {"change_pswd_user_email": $change_pswd_user_email,"new_password":$new_password},
            success: function (response) {
                response = JSON.parse(response);
              
                if(response.updatePassword == 1){
                        $("#password-success").addClass('has-error');
                        $("#password-success").html("Password change succesfuly please once again login");
                        setTimeout(function() { window.location.href = '{{ GLOBAL_DIR_PATH }}index.php/logout';  }, 4000);
                   
                }else{
                    $('#acc-old-password').val("");
                    $('#acc-new-password').val("");
                    $('#acc-renew-password').val("");
                    $("#password-error").addClass('has-error');
                    $("#password-error").html("Password does not updated successfuly");
                      setTimeout(function() {
                            $("#password-error").html("");
                            }, 7000);
                      }
             },
            error: function () {
                $("#password-error").addClass('has-error');
                $("#password-error span").html('Invalid Credentials');
            }
        });
  });
</script>
